

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div>
  <div class="c-heading">Manage Campaigns</div>
  <div class="compaign-types-container d-flex c-subtypes">
    <div class="form-group mr-lg custom-input" [className]="selected == 'one' ? 'bg-color' : ''">
      <input  type="radio" class="Compaign"  name="compaign" id="one" [value]="one" [(ngModel)]="selected" (change)="onRadioChange('one')">
      <label for="compaign" class="text-center p b">
        <p class="text-sm m0">
          <span>Upcoming Compaign</span>
        </p>
      </label>
    </div>
    <div class="form-group custom-input" [className]="selected == 'two' ? 'bg-color' : ''">
      <input  type="radio" class="Compaign"  name="compaign" id="two" [value]="two" (change)="onRadioChange('two')">
      <label for="compaign" class="text-center p b">
        <p class="text-sm m0">
          <span>Live Compaign</span> 
        </p>
      </label>
    </div>
    <div class="form-group custom-input" [className]="selected == 'three' ? 'bg-color' : ''">
      <input  type="radio" class="Compaign"  name="compaign" id="three" [value]="three" (change)="onRadioChange('three')">
      <label for="compaign" class="text-center p b">
        <p class="text-sm m0">
          <span>Past Compaign</span>
        </p>
      </label>
    </div>
  </div>

                                                                                      
  <div class="table-responsive mt-20">          
      <table class="table text-center">
        <thead class="th-bg">
          <tr class="h-32">
            <th class="W-150">DATE</th>
            <th class="W-150">COMPAIGN</th>
            <th class="W-150">VIEW</th>
            <th class="W-150">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of campaignData">
            <td class="W-150" >{{item.date}}<br>
              <span>{{getDays(item.date)}} days ago</span>
            </td>
            <td class="W-150" >{{item.name}}</td>
            <td class="W-150" >{{item.name}}</td>
            <td class="W-150" >{{item.name}}</td>

          </tr>
        </tbody>
      </table>
</div>
<router-outlet></router-outlet>