

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div>
  <div class="c-heading">Manage <span class="h-p-2">Campaigns</span></div>
  <div class="compaign-types-container d-flex c-subtypes">
      <button type="button" [className]="selected == 'one' ? 'btn btn-bg' : 'btn bg-info'" (click)="onRadioChange('one')" style="margin-right: 12px">Upcoming Campaign</button>
      <button type="button"  [className]="selected == 'two' ? 'btn btn-bg' : 'btn bg-info'" (click)="onRadioChange('two')" style="margin-right: 12px">Live Campaign</button>
      <button type="button" [className]="selected == 'three' ? 'btn btn-bg' : 'btn bg-info'" (click)="onRadioChange('three')">Past Campaign</button>

    <!-- <div class="form-group mr-lg custom-input" [className]="selected == 'one' ? 'bg-color' : ''">
      <input  type="radio" class="Compaign"  name="compaign" id="one" [value]="one" [(ngModel)]="selected" (change)="onRadioChange('one')">
      <label for="compaign" class="text-center p b">
        <p class="text-sm m0">
          <span>Upcoming Compaign</span>
        </p>
      </label>
    </div>
    <div class="form-group custom-input" [className]="selected == 'two' ? 'bg-color' : ''">
      <input  type="radio" class="Compaign"  name="compaign" id="two" [value]="two" (change)="onRadioChange('two')">
      <label for="compaign" class="text-center p b">
        <p class="text-sm m0">
          <span>Live Compaign</span> 
        </p>
      </label>
    </div>
    <div class="form-group custom-input" [className]="selected == 'three' ? 'bg-color' : ''">
      <input  type="radio" class="Compaign"  name="compaign" id="three" [value]="three" (change)="onRadioChange('three')">
      <label for="compaign" class="text-center p b">
        <p class="text-sm m0">
          <span>Past Compaign</span>
        </p>
      </label>
    </div> -->
  </div>

                                                                                      
  <div class="table-responsive mt-20">          
      <table class="table text-center">
        <thead class="th-bg">
          <tr class="h-32">
            <th class="W-150">DATE</th>
            <th class="W-150">COMPAIGN</th>
            <th class="W-150">VIEW</th>
            <th class="W-150">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of campaignData" (click)="openModal(template,item)">
            <td class="W-150" >{{item.date}}<br>
              <span class="sub-text">{{getDays(item.date)}} days ago</span>
            </td>
            <td class="W-150" ><i class="{{item.icon}} {{item.iconColor}}" aria-hidden="true" style="padding-right: 7px;"></i>{{item.name}} 
            <br><span style="font-size: 12px;">{{item.country}}</span></td>
            <td class="W-150" ><i class="fa fa-pinterest" aria-hidden="true"></i><br>
              {{item.view}}</td>
            <td class="W-150" ><i class="fa fa-file-text-o" aria-hidden="true"></i>
              <span style="padding-left: 10px;"><i class="fa fa-bar-chart" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Campaign Data</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <li>Campaign: {{modalData.name}}</li>
        <li>Date: {{modalData.date}}</li>
        <li>Country: {{modalData.country}}</li>
        <li>View : {{modalData.view}}</li>
      </ul>
    </div>
  </ng-template>
<router-outlet></router-outlet>